attrs==23.1.0+computecanada
certifi==2023.7.22+computecanada
charset-normalizer==3.2.0+computecanada
comet-ml==3.35.4+computecanada
configobj==5.0.8+computecanada
contourpy==1.1.1+computecanada
cycler==0.12.1+computecanada
dulwich==0.21.3+computecanada
everett==3.1.0+computecanada
fonttools==4.46.0+computecanada
h5py==3.8.0+computecanada
hdf5storage==0.1.18+computecanada
idna==3.4+computecanada
imageio==2.33.1+computecanada
importlib-resources==6.0.1+computecanada
jsonschema-specifications==2023.11.2+computecanada
jsonschema==4.20.0+computecanada
kiwisolver==1.4.5+computecanada
lazy-loader==0.3+computecanada
markdown-it-py==3.0.0+computecanada
matplotlib==3.7.2+computecanada
mdurl==0.1.2+computecanada
minkowskiengine==0.5.4+torch1120.computecanada
networkx==3.2.1+computecanada
numpy==1.25.2+computecanada
packaging==23.2+computecanada
pillow==10.1.0+computecanada
pip==23.0+computecanada
psutil==5.9.5+computecanada
pygments==2.17.2+computecanada
pyparsing==3.0.9+computecanada
python-box==6.0.2+computecanada
python-dateutil==2.8.2+computecanada
referencing==0.31.1+computecanada
requests-toolbelt==1.0.0+computecanada
requests==2.31.0+computecanada
rich==13.7.0+computecanada
rpds-py==0.10.0+computecanada
scikit-image==0.22.0+computecanada
scipy==1.11.2+computecanada
semantic-version==2.10.0+computecanada
sentry-sdk==1.38.0+computecanada
setuptools==46.1.3
simplejson==3.19.2+computecanada
six==1.16.0+computecanada
tifffile==2023.12.9+computecanada
torch==1.12.1+computecanada
tqdm==4.66.1+computecanada
typing-extensions==4.8.0+computecanada
urllib3==1.26.15+computecanada
websocket-client==1.3.3+computecanada
wheel==0.34.2
wrapt==1.16.0+computecanada
wurlitzer==3.0.3+computecanada
zipp==3.16.2+computecanada